:root
{
	--spin-duration:3s;
	--spin-image-margin-top:-5em;
}

html
{
	background-color:#fafafa;
}

html, body
{
	margin:0;
	padding:0;
}

main
{
	display:flex;
	flex-direction:column;
	align-items:center;

	margin:2em;
}

img
{
	display:block;
}
img, figure
{
	max-width:100vw;
}

p
{
	max-width:50em;
	text-align:justify;
}

a
{
	color:inherit;
}
a:hover
{
	font-style:italic;
}

figcaption
{
	color:#555;
	font-size:0.95rem;
}

.chapterLink
{
	text-decoration:none;
	color:inherit;
}

.contents
{
	padding:0;

	margin-bottom:10em;
}
.contents li
{
	font-weight:bold;
	font-size:1em;
	margin-bottom:1em;
}
.contents ul
{
	padding-left:1em;
}
.contents ul li
{
	font-weight:normal;
	list-style:outside;
}
.contents a
{
	text-decoration:underline;
	color:inherit;
}

.banner
{
	width:100%;

	/*background-color:#000;
	background-image:url("img/keeb/banner.jpg");
	background-size:cover;
	background-position:center;*/
}
.bannerTitle
{
	font-size:3em;
	text-align:center;
	//text-shadow:0px 0px 4px #777;

	margin:0;
	padding:1em;
	//color:#fff;
}

.zeroView
{
	width:500px;
	margin:12em;
	margin-left:0;
	margin-right:0;
}

.typewriterImage
{
	width:600px;
}
figure .typewriterImage
{
	animation-name:swapTypewriterImages;
	animation-duration:4s;
	animation-iteration-count:infinite;
}
@keyframes swapTypewriterImages
{
	0%
	{
		content:url("img/keeb/typewriter_colored.jpg");
	}
	50%
	{
		content:url("img/keeb/typewriter.jpg");
	}
}

.thinkpadImage
{
	width:500px;
	 
	display:block;

	margin-left:auto;
	margin-right:auto;
}

.firstKeebImage
{
	width:700px;
}

.collage
{
	display:flex;
	flex-wrap:wrap;
	width:46em;
	max-width:100vw;
}
.collageImage
{
	object-fit:cover;

	max-width:50vw;
	width:23em;
	height:16em;
}

.macbookKeyboard
{
	width:700px;
}

figure .scadLayersImage
{
	animation-name:loopLayerImages, loadLayerImages;
	animation-duration:4s, 0.1s;
	animation-iteration-count:infinite, 1;
}
@keyframes loadLayerImages
{
	0%
	{
		content:url("img/keeb/4.png");
	}
	25%
	{
		content:url("img/keeb/3.png");
	}
	50%
	{
		content:url("img/keeb/2.png");
	}
	75%
	{
		content:url("img/keeb/1.png");
	}
}
@keyframes loopLayerImages
{
	0%
	{
		content:url("img/keeb/1.png");
	}
	25%
	{
		content:url("img/keeb/2.png");
	}
	50%
	{
		content:url("img/keeb/3.png");
	}
	75%
	{
		content:url("img/keeb/4.png");
	}
}


.codeView
{
	text-align:left;

	background-color:#444;
	color:#fff;
	
	font-family:sans;

	padding:2em;

	height:300px;
	max-width:calc(90vw - 4em);

	border-radius:1em;

	overflow:scroll;
	scrollbar-color:#fff #fff0;
}
.codeView code
{
}

.prusaslicerImage
{
	width:700px;
}

.macbookModelImage
{
	width:600px;
}

.parametryImage
{
	width:700px;
}

.firstPlateImage
{
	width:800px;
}

.patternImage
{
	width:800px;
}

.sandwichSlider
{
	display:flex;
	font-family:monospace;

	z-index:10;
}
.sandwichSlider input
{
	margin:auto;
	margin-left:1em;
	margin-right:1em;
}

.topSpinImage
{
	animation-name:topZ;
	animation-duration:var(--spin-duration);
	animation-iteration-count:infinite;
	animation-timing-function:linear;

	margin:0;
}
@keyframes topZ
{
	0%,
	24.99%
	{
		z-index:1;
	}
	25%,
	74.99%
	{
		z-index:3;
	}
	75%,
	100%
	{
		z-index:1;
	}
}
figure .topSpinImage
{
	animation-name:topSpin;
	animation-duration:var(--spin-duration);
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
@keyframes topSpin
{
	0%
	{
		content:url("img/keeb/top_rotation/frame00000.png");
	}
	3.33%
	{
		content:url("img/keeb/top_rotation/frame00001.png");
	}
	6.666%
	{
		content:url("img/keeb/top_rotation/frame00002.png");
	}
	10%
	{
		content:url("img/keeb/top_rotation/frame00003.png");
	}
	13.333%
	{
		content:url("img/keeb/top_rotation/frame00004.png");
	}
	16.666%
	{
		content:url("img/keeb/top_rotation/frame00005.png");
	}
	20%
	{
		content:url("img/keeb/top_rotation/frame00006.png");
	}
	23.333%
	{
		content:url("img/keeb/top_rotation/frame00007.png");
	}
	26.666%
	{
		content:url("img/keeb/top_rotation/frame00008.png");
	}
	30%
	{
		content:url("img/keeb/top_rotation/frame00009.png");
	}
	33.333%
	{
		content:url("img/keeb/top_rotation/frame00010.png");
	}
	36.666%
	{
		content:url("img/keeb/top_rotation/frame00011.png");
	}
	40%
	{
		content:url("img/keeb/top_rotation/frame00012.png");
	}
	43.333%
	{
		content:url("img/keeb/top_rotation/frame00013.png");
	}
	46.666%
	{
		content:url("img/keeb/top_rotation/frame00014.png");
	}
	50%
	{
		content:url("img/keeb/top_rotation/frame00015.png");
	}
	53.333%
	{
		content:url("img/keeb/top_rotation/frame00016.png");
	}
	56.666%
	{
		content:url("img/keeb/top_rotation/frame00017.png");
	}
	60%
	{
		content:url("img/keeb/top_rotation/frame00018.png");
	}
	63.333%
	{
		content:url("img/keeb/top_rotation/frame00019.png");
	}
	66.666%
	{
		content:url("img/keeb/top_rotation/frame00020.png");
	}
	70%
	{
		content:url("img/keeb/top_rotation/frame00021.png");
	}
	73.333%
	{
		content:url("img/keeb/top_rotation/frame00022.png");
	}
	76.666%
	{
		content:url("img/keeb/top_rotation/frame00023.png");
	}
	80%
	{
		content:url("img/keeb/top_rotation/frame00024.png");
	}
	83.333%
	{
		content:url("img/keeb/top_rotation/frame00025.png");
	}
	86.666%
	{
		content:url("img/keeb/top_rotation/frame00026.png");
	}
	90%
	{
		content:url("img/keeb/top_rotation/frame00027.png");
	}
	93.333%
	{
		content:url("img/keeb/top_rotation/frame00028.png");
	}
	96.666%
	{
		content:url("img/keeb/top_rotation/frame00029.png");
	}
}

.plateSpinImage
{
	margin:0;

	z-index:2;
}
figure .plateSpinImage
{
	animation-name:plateSpin;
	animation-duration:var(--spin-duration);
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
@keyframes plateSpin
{
	0%
	{
		content:url("img/keeb/plate_rotation/frame00000.png");
	}
	3.33%
	{
		content:url("img/keeb/plate_rotation/frame00001.png");
	}
	6.666%
	{
		content:url("img/keeb/plate_rotation/frame00002.png");
	}
	10%
	{
		content:url("img/keeb/plate_rotation/frame00003.png");
	}
	13.333%
	{
		content:url("img/keeb/plate_rotation/frame00004.png");
	}
	16.666%
	{
		content:url("img/keeb/plate_rotation/frame00005.png");
	}
	20%
	{
		content:url("img/keeb/plate_rotation/frame00006.png");
	}
	23.333%
	{
		content:url("img/keeb/plate_rotation/frame00007.png");
	}
	26.666%
	{
		content:url("img/keeb/plate_rotation/frame00008.png");
	}
	30%
	{
		content:url("img/keeb/plate_rotation/frame00009.png");
	}
	33.333%
	{
		content:url("img/keeb/plate_rotation/frame00010.png");
	}
	36.666%
	{
		content:url("img/keeb/plate_rotation/frame00011.png");
	}
	40%
	{
		content:url("img/keeb/plate_rotation/frame00012.png");
	}
	43.333%
	{
		content:url("img/keeb/plate_rotation/frame00013.png");
	}
	46.666%
	{
		content:url("img/keeb/plate_rotation/frame00014.png");
	}
	50%
	{
		content:url("img/keeb/plate_rotation/frame00015.png");
	}
	53.333%
	{
		content:url("img/keeb/plate_rotation/frame00016.png");
	}
	56.666%
	{
		content:url("img/keeb/plate_rotation/frame00017.png");
	}
	60%
	{
		content:url("img/keeb/plate_rotation/frame00018.png");
	}
	63.333%
	{
		content:url("img/keeb/plate_rotation/frame00019.png");
	}
	66.666%
	{
		content:url("img/keeb/plate_rotation/frame00020.png");
	}
	70%
	{
		content:url("img/keeb/plate_rotation/frame00021.png");
	}
	73.333%
	{
		content:url("img/keeb/plate_rotation/frame00022.png");
	}
	76.666%
	{
		content:url("img/keeb/plate_rotation/frame00023.png");
	}
	80%
	{
		content:url("img/keeb/plate_rotation/frame00024.png");
	}
	83.333%
	{
		content:url("img/keeb/plate_rotation/frame00025.png");
	}
	86.666%
	{
		content:url("img/keeb/plate_rotation/frame00026.png");
	}
	90%
	{
		content:url("img/keeb/plate_rotation/frame00027.png");
	}
	93.333%
	{
		content:url("img/keeb/plate_rotation/frame00028.png");
	}
	96.666%
	{
		content:url("img/keeb/plate_rotation/frame00029.png");
	}
}

.baseSpinImage
{
	animation-name:baseZ;
	animation-duration:var(--spin-duration);
	animation-iteration-count:infinite;
	animation-timing-function:linear;

	margin:0;
}
@keyframes baseZ
{
	0%,
	24.99%
	{
		z-index:3;
	}
	25%,
	74.99%
	{
		z-index:1;
	}
	75%,
	100%
	{
		z-index:3;
	}
}
figure .baseSpinImage
{
	animation-name:baseSpin;
	animation-duration:var(--spin-duration);
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
@keyframes baseSpin
{
	0%
	{
		content:url("img/keeb/base_rotation/frame00000.png");
	}
	3.33%
	{
		content:url("img/keeb/base_rotation/frame00001.png");
	}
	6.666%
	{
		content:url("img/keeb/base_rotation/frame00002.png");
	}
	10%
	{
		content:url("img/keeb/base_rotation/frame00003.png");
	}
	13.333%
	{
		content:url("img/keeb/base_rotation/frame00004.png");
	}
	16.666%
	{
		content:url("img/keeb/base_rotation/frame00005.png");
	}
	20%
	{
		content:url("img/keeb/base_rotation/frame00006.png");
	}
	23.333%
	{
		content:url("img/keeb/base_rotation/frame00007.png");
	}
	26.666%
	{
		content:url("img/keeb/base_rotation/frame00008.png");
	}
	30%
	{
		content:url("img/keeb/base_rotation/frame00009.png");
	}
	33.333%
	{
		content:url("img/keeb/base_rotation/frame00010.png");
	}
	36.666%
	{
		content:url("img/keeb/base_rotation/frame00011.png");
	}
	40%
	{
		content:url("img/keeb/base_rotation/frame00012.png");
	}
	43.333%
	{
		content:url("img/keeb/base_rotation/frame00013.png");
	}
	46.666%
	{
		content:url("img/keeb/base_rotation/frame00014.png");
	}
	50%
	{
		content:url("img/keeb/base_rotation/frame00015.png");
	}
	53.333%
	{
		content:url("img/keeb/base_rotation/frame00016.png");
	}
	56.666%
	{
		content:url("img/keeb/base_rotation/frame00017.png");
	}
	60%
	{
		content:url("img/keeb/base_rotation/frame00018.png");
	}
	63.333%
	{
		content:url("img/keeb/base_rotation/frame00019.png");
	}
	66.666%
	{
		content:url("img/keeb/base_rotation/frame00020.png");
	}
	70%
	{
		content:url("img/keeb/base_rotation/frame00021.png");
	}
	73.333%
	{
		content:url("img/keeb/base_rotation/frame00022.png");
	}
	76.666%
	{
		content:url("img/keeb/base_rotation/frame00023.png");
	}
	80%
	{
		content:url("img/keeb/base_rotation/frame00024.png");
	}
	83.333%
	{
		content:url("img/keeb/base_rotation/frame00025.png");
	}
	86.666%
	{
		content:url("img/keeb/base_rotation/frame00026.png");
	}
	90%
	{
		content:url("img/keeb/base_rotation/frame00027.png");
	}
	93.333%
	{
		content:url("img/keeb/base_rotation/frame00028.png");
	}
	96.666%
	{
		content:url("img/keeb/base_rotation/frame00029.png");
	}
}


#qwertyKeyboard
{
}
.row
{
	display:flex;
}
.key
{
	font-family:monospace;
	font-size:6mm;

	display:inline-block;

	width:18mm;
	height:18mm;

	max-width:calc( 100vw / 10 - 4mm );
	max-height:calc( 100vw / 10 - 4mm );

	outline:2px solid;
	border-radius:2mm;

	margin:1mm;

	flex-shrink:0;
}
.legend
{
	font-size:min(1em, 4vw);
	margin:10%;
}
.offset
{
	flex-shrink:0;
	animation-name:animateOffset;
	animation-duration:3s;
	animation-iteration-count:infinite;
	animation-timing-function:ease-in-out;
	animation-direction:alternate;
}
@keyframes animateOffset
{
	0%
	{
		width:default;
	}
	100%
	{
		width:0mm;
	}
}
