body {display:flex; margin:0; color:#333; background-color:#fefefe;}
header {width:33%;}
main {width:70%; margin:2em;}
#firstname, #secondname {color:#666; font-weight:100;}
#lastname {color:#000;}
.vr {background-color:#000; width:1px; height:100vh;} 
h1 {margin-left:1.2em;}
h4 {margin-left:2.4em; margin-bottom:3em;}
h5 {font-size:14px; margin:0; margin-bottom:0.4em;}
ul {list-style:none; padding-left:0; margin-bottom:0;}
header ul {margin-left:1em; margin-bottom:2em; white-space:nowrap;}
header & ul {margin-left:1em; margin-bottom:2em;}
ul ul {margin-left:0; color:#444;}
li {margin-bottom:0.2em;}
.taidot {font-family:Courier; font-weight:900; font-size:18px;}
.taidot li {display:flex; justify-content:space-between; margin-right:1em; padding-top:1em;}
.taito {padding-top:0.5em; font-weight:100;}
