html,body
{
    margin:0;
    padding:0;
}

header
{
    background-color:#000;
    color:#fff;
    width:100vw;
    height:33vh;
    display:flex;
    justify-content:space-around;
}

main
{
    margin:1em;
}

#title
{
    text-align:center;
    margin:auto;
    font-size:64px;
    font-weight:100;
    letter-spacing:0.05em;
    font-family:sans-serif;
}

#works
{
    display:flex;
    flex-wrap:wrap;
    width:content;
    margin:auto;
    align-content:center;
}

.work
{
    flex:1 1;
    background-color:#eee;
    min-width:100px;
    min-height:100px;
    width:30vw;
    height:30vw;
    width:300px;
    height:300px;
    margin:2em;
}
