html *
{
	#outline:ridge #f00;
}

html,body
{
	background-color:#fff;
	color:#000;
    margin:0;
    padding:0;
	font-family:serif;
	font-size:1.5rem;
}

header
{
    background-color:#000;
    color:#fff;
	font-size:clamp(2rem, 5vh, 3rem);
	font-family: 'Prata', serif;
    width:100vw;
	gap:1.5em;
	padding-top:1em;
	padding-bottom:1em;
	text-align:center;
	display:flex;
	flex-direction:column;
    justify-content:space-around;
	user-select:none;
}

#title
{
	#display:inline-block;
    text-align:center;
    margin:0;
	#margin-top:10mm;
	#height:8em;
	#flex-grow:1;
    #font-size:1rem;
    font-weight:100;
    letter-spacing:0.05em;
    #font-family:sans-serif;
}


nav
{
    font-family: 'Bodoni Moda', serif;
	font-size:1rem;
	#flex-grow:1;
	margin-bottom:1em;
}

nav a
{
	color:#fff;
	font-size:clamp(1rem, 2vh, 2rem);
	margin:0.5em;
	margin-top:0;
	margin-bottom:0;
	text-decoration:none;
	padding:0.5em;
	border:2px solid;
	border-radius:1em;
}
nav a:hover
{
	background-color:#fff;
	color:#000;
	border-color:#fff;
}

a
{
	color:#67f;
	text-decoration:none;
}

.sectionTitle
{
	font-size:2rem;
	color:#999;
	background-color:#fff;
	margin:auto;
	padding-left:1em;
	padding-right:1em;
	width:fit-content;
	text-align:center;
	user-select:none;
}
.hrWithText
{
	height:1.4em;
	margin:2em;
	border-bottom:1px solid #999;
}

main
{
    #margin:1em;
	justify-content:space-around;
}

.works
{
	display:grid;
	grid-template-columns:repeat(auto-fit, 40vh);
	#justify-items:stretch;
	justify-content:center;
	gap:4rem;
	margin:2rem;
	max-width:calc(40vh*3 + 4rem*3 + 2rem*2);
	margin:auto;
	margin-top:4rem;
	margin-bottom:4rem;
}

.workContainer
{
	background-color:#fff;
	#padding:2rem;
	#margin:2rem;
	#margin:auto;
    width:40vh;
    height:40vh;
	#margin-left:auto;
	#margin-right:auto;
}
.work
{
	#display:inline-block;
	color:#fff;
	font-size:clamp(0.75rem, 2.5vh, 2rem);
    background-color:#ddd;
    min-width:100px;
    min-height:100px;
    width:40vh;
    height:40vh;
	#width:100%;
	#height:100%;
	transition:0.3s;
	background-size:cover;
	user-select:none;
}
.work:hover
{
	background-color:#eee;
	filter:contrast(0.8) brightness(1.2);
	cursor:pointer;
}
.work h2
{
	font-weight:300;
	filter:drop-shadow(0px 0px 2px #000);
	margin:0.5em;
}

#workViewBackground
{
	display:none;
	position:fixed;
	z-index:1;
	background-color:#0008;
	width:100%;
	height:100%;
	#padding:2rem;
}
#workView
{
	display:flex;
	overflow:scroll;
	flex-direction:column;
	box-sizing:border-box;
	padding:2rem;
	background-color:#fff;
	position:fixed;
	#width:80%;
	#height:80%;
	#margin:10%;
	top:4rem;
	bottom:4rem;
	left:4rem;
	right:4rem;
}
#workViewClose
{
	font-size:4rem;
	text-align:center;
	position:fixed;
	top:4rem;
	right:4rem;
	width:1.375em;
	cursor:pointer;
	user-select:none;
}
.work,
#workView h1,
#workView h2
{
	font-family: 'Outfit', sans-serif;
}
#workView h1
{
	margin:0;
	font-size:clamp(2rem, 4vh, 3rem);
}
#workView h2
{
	font-size:clamp(1rem, 3vh, 2rem);
	color:#999;
}
#workViewLink
{
	margin-right:auto;
	margin-bottom:1rem;
	font-size:clamp(0.5rem, 2vh, 1rem);
}
#workViewDescriptionAndMedia
{
	display:flex;
	#flex-wrap:wrap;
	flex-direction:column-reverse;
	#justify-content:space-between;
	box-sizing:border-box;
	flex:1;
	gap:1em;
}
#workViewDescription
{
	margin:0;
	margin-top:1rem;
	margin-bottom:1rem;
	font-size:clamp(0.8rem, 2vh, 1.5rem);
}
#workViewImage
{
	box-sizing:border-box;
	width:100%;
	min-width:50%;
	max-width:100%;
	max-height:100%;
	object-fit:contain;
}

@media (min-width: 70rem)
{
	#workViewDescriptionAndMedia
	{
		flex-direction:row;
		justify-content:space-between;
	}
	#workViewDescription
	{
		max-width:50%;
	}
	#workViewImage
	{
		width:auto;
		min-width:0;
	}
}
